.element {
  position: absolute;
  cursor: grab;
  border-radius: 30px;
  user-select: none;
}

.bounce {
  animation: bounce;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
}

@keyframes bounce {
  0%, 30%, 50%, 70%, 100% {transform: translateX(0);}
  20% {transform: translateX(-20px);}
  40% {transform: translateX(20px);} 
  60% {transform: translateX(-10px);} 
  80% {transform: translateX(10px);} 
}