.duplicator {
  width: 90%;
  padding: 30px 5px;
  text-align: center;
  background-color: lightgreen;
  border: 1px solid limegreen;
  margin-top: 20px;
}

.label {
  font-style: italic;
  cursor: default;
  user-select: none;
}

.addButton {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #149210;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
  -webkit-tap-highlight-color: transparent;
}

.addButton:active {
  background-color: #2bce0a;
}

.addIcon {
  height: 40px;
  width: 40px;
}
