.element {
  color: aliceblue;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.element p {
  margin: 3% 0 0 0;
  text-align: center;
}

.element img {
  max-height: 70%;
}