.title {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 20px;
  color: aliceblue;
}

::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  padding-top: 7px;
  width: 100%;
  overscroll-behavior: contain;
  /* max-width: 100%; */
}

.element {
  border: 3px solid rgb(56, 54, 54);
  position: relative;
  margin-bottom: 10px;
  padding: 4px;
  background-color: rgb(19, 18, 18);
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@media(hover: hover) and (pointer: fine) {
  .element:hover {
    background-color: rgb(59, 58, 58);
  }
}

.terminal {
  color: red;
  cursor: not-allowed;
}

.terminal:hover {
  background-color: rgb(19, 18, 18);
}

.input {
  background-color: aliceblue;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 3px solid rgb(59, 58, 58);
  width: 200px;
  padding: 4px;
  outline: none;
}

.input:focus {
  border-color: mediumvioletred;
}

@media screen and (max-width: 767px) and (min-height: 400px) {
  .list {
    max-height: 65vh;
  }
}

@media screen and (max-height: 400px) {
  .list {
    max-height: 55vh;
    margin-bottom: 15px;
  }
  .input {
    margin-bottom: 5px;
  }
}
