.elementContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(19, 18, 19);
  overflow: hidden;
}

.counter {
  user-select: none;
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% - 80px));
  color: aliceblue;
  font-size: 20px;
  margin-top: 5px;
  display: flex;
}

.bounce {
  animation: bounce;
  animation-duration: 1s;
  color: green;
  margin: 0 4px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-30px);} 
  60% {transform: translateY(-15px);} 
}

@media screen and (max-width: 600px) {
  .counter {
    transform: unset;
    left: calc(50% - 130px);
  }
}
