.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.navItem {
  outline: none;
  font: inherit;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
  height: 20px;
  width: 15px;
  background-color: rgb(19, 18, 18);
  box-shadow: 2px 2px 2px indigo;
  color: aliceblue;
  border-radius: 2px;
  user-select: none;
  margin: 1px 1px 1px 1px;
  -webkit-tap-highlight-color: transparent;
}

@media(hover: hover) and (pointer: fine) {
  .navItem:hover {
    background-color: rgb(56, 54, 54);
  }
}

.navItem:active {
  background-color: rgb(56, 54, 54);
  box-shadow: 1px 1px 1px indigo;
  transform: translateY(2px);
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  padding-top: 7px;
  width: 100%;
  overscroll-behavior: contain;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.letter {
  margin-top: 0;
  font-weight: bold;
  font-size: 18px;
  color: aliceblue;
  border-bottom: grey 1px solid;
  margin-left: 3px;
}

.element {
  border: 3px solid rgb(56, 54, 54);
  position: relative;
  margin-bottom: 10px;
  padding: 4px;
  background-color: rgb(19, 18, 18);
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  margin-left: 1px;
  margin-right: 1px;
}

@media screen and (max-width: 767px) and (min-height: 400px) {
  .list {
    max-height: 71vh;
    margin-bottom: 12px;
  }
}

@media screen and (max-height: 400px) {
  .list {
    max-height: 55vh;
    margin-bottom: 15px;
  }
}
