.title {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 20px;
  color: aliceblue;
  text-align: center;
}

::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  max-height: 55vh;
  overflow: scroll;
  border-radius: 10px;
  padding-top: 7px;
  /* max-width: 100%; */
}

.element {
  border: 3px solid rgb(56, 54, 54);
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 4px;
  background-color: rgb(19, 18, 18);
  border-radius: 8px;
}
