.bin {
  /* height: 60px; */
  /* border: 1px dashed whitesmoke; */
  width: 90%;
  padding: 30px 5px;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  background-color: silver;
  margin-top: 20px;
}

.binIconContainer {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #bd240f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
  -webkit-tap-highlight-color: transparent;
}

.binIconContainer:active {
  background-color: #e04f0c;
}

.binIcon {
  height: 35px;
  width: 35px;
}

.label {
  font-style: italic;
  cursor: default;
  user-select: none;
  max-width: 60%;
  margin: 0 auto;
}
