.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #38015c;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: aliceblue;
  box-sizing: border-box;
}

.auth h1 {
  text-align: center;
  color: aliceblue;
  margin-bottom: 5px;
  font-size: 24px;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: aliceblue;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 4px;
  border: 3px solid rgb(59, 58, 58);
  width: 100%;
  text-align: left;
  padding: 0.25rem;
  box-sizing: border-box;
  outline: none;
}

.control input:focus {
  border-color: mediumvioletred;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: aliceblue;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #873abb;
  border-color: #873abb;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #9f5ccc;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #ae82cc;
}

.error {
  color: red;
}
