
.logoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  margin-top: 15px;
}

.logoutContainer p {
  font-size: 13px;
  margin: 0;
}

.email {
  font-style: italic;
}

.logout {
  background-color: transparent;
  outline: none;
  font: inherit;
  border: none;
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
  margin-top: 5px;
}

.logout:hover {
  color: aliceblue
}
