.iconContainer {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@media(hover: hover) and (pointer: fine) {
  .iconContainer:hover {
    background-color: pink;
  }
}

.iconContainer:active {
  background-color: pink;
}

.disabled {
  cursor: not-allowed;
  background-color: dimgray;
}

.disabled:hover {
  background-color: dimgray;
}

.icon {
  color: rgb(19, 18, 18);
}
