.bottombar {
  display: none;
}

@media screen and (max-width: 600px) {
  .bottombar {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    padding: 0 15px 15px 0;
    z-index: 5px;
    /* background-color: darkmagenta; */
  }
}

.settings {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgb(88, 97, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
  -webkit-tap-highlight-color: transparent;
}

@media(hover: hover) and (pointer: fine) {
  .settings:hover {
    background-color: aliceblue;
  }
}

.settings:active {
  background-color: aliceblue;
  animation-name: spin;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
}

.settingsIcon {
  height: 40px;
  width: 40px;
}

.encyclopedia {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgb(25, 106, 177);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
  -webkit-tap-highlight-color: transparent;
}

@media(hover: hover) and (pointer: fine) {
  .encyclopedia:hover {
    background-color: rgb(106, 171, 228);
  }
}

.encyclopedia:active {
  background-color: rgb(106, 171, 228);
}

.encyclopediaIcon {
  height: 40px;
  width: 40px;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
