.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 15px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}


.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  background-color: #149210;
  box-shadow: 2px 2px 2px #086b04;
}
@media(hover: hover) and (pointer: fine) {
  .Success:hover {
    background-color: #2bce0a;
  }
}
.Success:active {
  background-color: #2bce0a;
  box-shadow: 1px 1px 1px #086b04;
  transform: translateY(2px);
}

.Danger {
  background-color: #bd240f;
  box-shadow: 2px 2px 2px #6b1206;
}
@media(hover: hover) and (pointer: fine) {
  .Danger:hover {
    background-color: #e04f0c;
  }
}
.Danger:active {
  background-color: #e04f0c;
  box-shadow: 1px 1px 1px #6b1206;
  transform: translateY(2px);
}

.Neutral {
  background-color: rgb(25, 106, 177);
  box-shadow: 2px 2px 2px rgb(17, 62, 100);
}
@media(hover: hover) and (pointer: fine) {
  .Neutral:hover {
    background-color: rgb(106, 171, 228);
  }
}
.Neutral:active {
  background-color: rgb(106, 171, 228);
  box-shadow: 1px 1px 1px rgb(17, 62, 100);
  transform: translateY(2px);
}
