.title {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 20px;
  color: aliceblue;
  border-bottom: 1px rgb(196, 187, 187) solid;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}
