.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  padding: 10px;
  width: 180px;
  height: 100vh;
  background-color: darkslateblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 0 3px indigo;
  overscroll-behavior: contain;
  overflow: auto;
  box-sizing: border-box;
}

.mainElements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
