.container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background-color: #d3d3d3;
  overflow: hidden;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border: 3px solid rgb(146, 51, 170);
  border-spacing: 0;
  margin-bottom: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 7px;
  background: rgb(24, 22, 133);
  cursor: pointer;
  box-shadow: -86px 0 0 80px #0b56ac;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 7px;
  background: rgb(24, 22, 133);
  cursor: pointer;
  box-shadow: -86px 0 0 80px #0b56ac;
}

.slider::-ms-fill-lower {
  background-color: #0b56ac;
}

.label {
  font-size: 14px;
  color: aliceblue;
  user-select: none;
}
